#about{
    padding-top: 60px;

    h2{
        font-size: 4.5rem;
        margin-bottom: 0;
    }
    /*
    .portrait{
        width: 75%;
        margin-top: 2.5rem;
        height: auto;
        box-shadow: 0 .5rem 1rem rgba(255, 255, 255, 0.25)!important;
    }
    */
    .description{
        background-color: $box-background; /*#F1ECE6*/
        border-radius: 5px;
        box-shadow: 0 .5rem 1rem rgba(255, 255, 255, 0.25)!important;
        margin: 0 2rem;

        p{
            font-size: 2rem;
            line-height: 2rem;
            word-spacing: 4px;
            margin-bottom: 2rem;
            padding: 0 1rem;
        }
        img{
            height: 9rem;
        }
        i{
            color: $rouge;
            font-size: 2rem;
            margin: 2rem 2rem 0 2rem;

            &:hover{
                color: white;
            }
        }
    }

   


    @include md{
        .md-column{
            flex-direction: column;
        }
    }
/*
    @include xl{
        .coach-img{
            width: 60%;
        }
    } */
}