footer{
    background: linear-gradient(to bottom, #18191A,#000000);

    .footer-nav{
        a{
            text-align: center;
            padding: 1rem 0.5rem;
        }
        i{
            &:hover{
                color: #0056b3;
            }
        }
    }
}

.copyright{
    margin-top: 3rem;
    
    p{
        text-align: center;
        margin: 0;
        font-size: 1.1rem;
        color: #F3F2EF;
    }

    .dev{
        font-size: 1.1rem;
        color: #F3F2EF;

        &:hover{
        text-decoration: underline;
        font-weight: bold;
        }
    }

    .dev-img{
        height: 20px;
        border-radius: 10%;
        margin-left: 0.5rem;
    }
}

.tooltip {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    text-align: center;
  }
.tooltip .tooltip-inner {
    max-width: 250px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
}