footer{
    background: linear-gradient(to bottom, #18191A,#000000);

    .footer-nav{
        a{
            text-align: center;
            padding: 1rem 0.5rem;
            &:hover{
                color: $bleu;
            }
        }
        i{
            &:hover{
                color: $bleu;
            }
        }
    }
}

.copyright{
    margin-top: 2rem;
    
    p{
        text-align: center;
        margin: 0;
        font-size: 1.1rem;
        color: #F3F2EF;
    }

    .dev{
        font-size: 1.1rem;
        color: #F3F2EF;

        &:hover{
        text-decoration: underline;
        font-weight: bold;
        }
    }

    .dev-img{
        height: 20px;
        border-radius: 10%;
        margin-left: 0.5rem;
    }
}