@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");

@font-face {
	font-family: 'Valorant';
	src: url('../font/Valorant\ Font.ttf')  format('truetype');
}

nav {
  padding: 0;
  margin: 0;
  background-color: transparent;
  transition: background 0.1s;
  z-index: 9999;
}

.nav-scroll-active{
  background-color: #242526 !important;
}

.topnav {
  border: none;
  transition: background 0.1s;
  padding: 0;
  margin: 0;
}

.navbar-collapse {
  background-color: transparent;
  transition: background 0.1s;
  overflow-x: hidden;
}

.img-nav{
  height: 70px;
  width: auto;
  padding: 2px;
  background-color: transparent;
}

.img-nav-mobile{
  height: 70px;
  width: auto;
  padding: 2px;
  background-color: transparent;
}

.container-fluid{
  padding: 1rem 0;
  
  .mobile{
    display: none;
  }
}

.nav-item{  
  border-bottom: 2.5px solid transparent;
  padding: 1rem 2rem;
  cursor: pointer;
  width: 130px;
  height: 82px;
  text-align: center;
  margin: 0 2.5rem;

  &:hover{
    color: white;
  }

  .nav-link{
    color: #BBBBBB;
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Valorant';
    position: relative;
    text-align: center;
    width: 130px;
    height: 49.5px;

    &:hover, &:focus {
      color: white;
      font-weight: 900;
    }

    &:hover { 
      
      rect {
          stroke-width: 7.5;
          stroke-dashoffset: 60;
          stroke-dasharray: 40, 150;
          transition: all 1.15s cubic-bezier(0.19, 1, 0.22, 1);
          stroke: $rouge;
      }
    }
  
    svg {
        height: 60px;
        left: -5px;
        position: absolute;
        top: -10px; 
        width: 140px; 
    }
    
    rect {
        fill: none;
        stroke-width: 2;
        stroke-dasharray: 490, 0;
        transition: all 0.35s linear;
    }        
  }
}

.nav-link{
  border-bottom: 2.5px solid transparent;
  margin-top: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
  text-align: center;

  &:hover, &:focus {
    color: white;
  }
}

#navbar-spy{
  .active{
    color: white !important;
    font-weight: 700;

    &::after{
      margin-top: 5px !important;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      display: block;
      height: 2px;
      background: white;
      width: 20px;
      margin: 0 auto;
      content: "";
    }
  }
}

.navbar-default .navbar-nav li:focus {
  color: rgba(32, 133, 252, 1);
  transition: color .3s;
}

.navbar-toggler{
  i{
    font-size: 2.5rem;
    color: #000;
  }
}


@include xl {
  .container-fluid{
    .navbar-brand {  
      font-size: 2.25rem;
    }
  }
  .nav-item{
    font-size: 1.7rem;
  }
}

@include md {
  .computer{
    display: none;
  }
  .mobile{
    display: block !important;
  }
  .topnav{
    background-color: #F0F2F5 !important;
  }
  .navbar-collapse{
    background-color: #F0F2F5 !important;
  }
  .nav-item{  
    padding: 0;
    height: 50px;
    &:hover, &:focus{
      color: black !important;
    }
  }
  svg{
    display: none;
  }
  .nav-link{
    margin: 0;
    &:hover, &:focus{
      color: black !important;
    }
  }
  #navbar-spy{
    .active{
      color: black !important;
      font-weight: 700;
    
      &::after{
        margin-top: 5px !important;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: block;
        height: 2px;
        background: black;
        width: 20px;
        margin: 0 auto;
        content: "";
      }
    }
  }
}

@include sm {
 
}

@include xs {
  .container-fluid{
    .navbar-brand{
      font-size: 1.8rem;
      padding-top: 0.6rem;
    }
  }
  .navbar-toggler{
    i{
      font-size: 1.8rem;
    }
  }
  .img-nav{
    height: 50px;
    width: auto;
    background: #F0F2F5;
    padding: 2px;
  }
}