#works{
    padding-top: 60px;

    h2{
        font-size: 4.5rem;
        margin-bottom: 0;
    }

    .carousel-block{
        max-width: 45%;
        margin: 2rem auto;
        padding: 0 7.5rem;
    }

    #carouselWorks{
        background-color: $box-background; /* #F1ECE6 */
        border-radius: 5px;
        box-shadow: 0 .5rem 1rem rgba(255, 255, 255, 0.25)!important;

        .carousel-indicators{
            li{
                display: block;
                padding: 0;
                padding-left: 0.1rem;
                width: 1rem;
                height: 1rem;
                background-color: #ababab;
                cursor: pointer;
                border: 1.5px white solid;
                margin: 0 0.75rem 0.5rem;
            }
            .active{
                background-color: $rouge;
            }
        }

        .carousel-item{
            img{
                border-radius: 5px 0 0 5px;
                max-height: 501px;
                max-width: auto;
            }

            .caption-right{
                left: 50%;
                right: 0;
                margin: auto;
            }

            .orientation{
                img{
                    max-width: 50%;
                    margin: auto auto auto 0;
                }
                p{
                    width: 50%;
                }
                .img-cap{
                    max-width: 295px;
                }
            }

            .lucine, .capsciences, .description{
                font-size: 2rem;
                padding: 0 2rem;
                padding-bottom: 8rem;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto 0;
            }

            .description{
                height: 80%;
                padding-top: 4rem;
            }

            .carousel-caption{
                h5{
                    a{
                        color: white;
                        font-size: 1.75rem;
                    }
                }
                p{
                    color: white;
                    font-size: 1.55rem;
                }
            }
        }
        .paysage{
            min-height: 500px;

            img{
                border-radius: 5px 5px 0 0;
                max-width: 100% !important;
            }
        }
        
        .title{
            position: static;
            bottom: 0;
            margin-bottom: 4rem;
            h5{
                a{
                    color: white;
                    font-size: 1.75rem;
                }
            }
            p{
                color: white;
                font-size: 1.55rem;
            }
        }


        .carousel-inner{
            min-height:430px;
            width: 100%;
            margin: 0 auto;
        }

        .carousel-control-prev{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            left: -75px;

            span{
                margin: 2rem;
                border-radius: 50%;
                i{                    
                    font-size: 4rem;
                    color: $rouge;
                    left: 3rem;
                    border: 1px solid transparent;
                    border-radius: 50%;
                    padding: 0.5rem;

                    &:hover{
                        border: 1px solid $rouge;
                    }
                }
            }
        }

        .carousel-control-next{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            right: -75px;

            span{
                margin: 2rem;
                border-radius: 50%;
                i{                    
                    font-size: 4rem;
                    color: $rouge;
                    left: 3rem;
                    border: 1px solid transparent;
                    border-radius: 50%;
                    padding: 0.5rem;

                    &:hover{
                        border: 1px solid $rouge;
                    }
                }
            }
        }
    }
}

@include xxl{
    .carousel-block{
        max-width: 70% !important;
    }
}

@include xl{
    .carousel-block{
        max-width: 75% !important;
    }
}

@include md{
    .carousel-block{
        max-width: 90% !important;
        padding: 0 !important;
    }
    .carousel-control-next, .carousel-control-prev{
        display: none !important;
    }
    .carousel-item{
        img{
            max-height: auto !important;
            max-width: 100% !important;
            left: 0 !important;
            right: 0 !important;
            margin: auto !important;
            border-radius: 5px 5px 0 0 !important;
        }
    }
    .orientation{
        img{
            width: 100% !important;
        }
        p{
            width: 100% !important;
        }
    }
    .caption-right{
        left: 0;
        right: 0;
        margin: 0;
    }
}

@include sm{
    .carousel-inner{
        min-height:300px !important;
        width: 100% !important;
        margin: 0 auto !important;
    }
    .paysage{
        min-height: 300px !important;
    }
}

@include xs{
    .carousel-block{
        max-width: 90% !important;
        padding: 0 !important;
    }
    .carousel-control-next, .carousel-control-prev{
        display: none !important;
    }
    .orientation{
        flex-direction: column !important;
    }
    .carousel-inner{
        max-height: 850px !important;
        min-height: 400px !important;
    }
    .capsciences, .lucine{
        padding-top: 2rem !important;
    }
    .carousel-item{
        img{
            max-width: 240px;
        }
    }
}