@import "responsive";
@import "reset";

/* PARTIES */
@import "preloader";
@import "soundbutton";
@import "navbar";
@import "home";
@import "soundwave";
@import "about";
@import "works";
@import "equalizer";
@import "contact";
@import "footer";

/* AOS PROPERTIES */
*[data-aos] {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
}